form{
	position: relative;
	top: 25%;
	width: 500px;
	margin: auto;
}
input{
	display: block;
	height: 50px;
	width: 100px;
	margin: auto;
}
label{
	margin: auto;
	font-size: 24pt;
}
button{
	margin: auto;
	width: 100px;
}