body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}
#background{
	background-image: url("../images/livingRoom.jpg");
	z-index: -1;
	width: 100%;
	position: relative;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#overlayText{
	color: #FFFFFF;
	font-size: 35pt;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
#overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
#fpButton{
	z-index: 10;
	background-color: #FFFFFF;
	width: 90px;
	height: 90px;
	border-radius: 90px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
}
#fpButton p{
	color: #005d0e;
	text-align: center;
	vertical-align: center;
}
#arrowDown{
	content: "";
    display: block;
    position: absolute;
    left: calc(50% - (10px/2) - 1px);
    right: calc(50% - (10px/2) - 1px);
    border-left-width: 2px;
    border-left-style: solid;
    border-top-width: 2px;
    border-top-style: solid;
    height: 10px;
    width: 10px;
    transform: rotateZ(-135deg);
}
#carousel{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 800px; 
	height: 250px;
	align-content: center;
}
#carousel table{
	margin-left: auto;
	margin-right: auto;
}
#carousel td{
	width: auto;
	height: 250px;
}
#carousel tr td img{
	padding: 15px;
}
#carousel tr td:nth-child(1){
	display: inline;
}
#carousel tr td:nth-child(2){
	display: inline;
}
#carousel tr td:nth-child(3){
	display: none;
}
#carousel tr td:nth-child(4){
	display: none;
}
#carousel tr td:nth-child(5){
	display: none;
}
#carousel img{
	height: 250px;
}
#carousel div{
	background-color: #005d0e;
}
.prev{
	z-index: -1;
	text-align: center;
	width: 25px;
	background-color: #005d0e;
	box-shadow: 0px 0px 3px #000000;
	border-radius: 5px 0px 0px 5px;
	color: #FFFFFF;
	font-size: 28pt;
	float: left;
	position: relative;
	bottom: 175px;
}
.next{
	z-index: -1;
	text-align: center;
	width: 25px;
	background-color: #005d0e;
	box-shadow: 0px 0px 3px #000000;
	border-radius: 0px 5px 5px 0px;
	color: #FFFFFF;
	font-size: 28pt;
	float: right;
	position: relative;
	bottom: 175px;
}
#photo{
	background-image: url("../images/family.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	width: 50vw;
	padding: 0;
}
.button{
	z-index: -1;
	color: black;
	width: 150px;
	height: 50px;
	background-color: #005d0e;
	border-radius: 30px;
	text-align: center;
	line-height: 50px;
	box-shadow: 0px 0px 5px grey;
	position: absolute;
	right: 50%;
	transform: translate(50%);
}
.button a{
	text-decoration: none;
	font-size: 15pt;
	color: #FFFFFF;
}
.content{
	text-align: center;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 4000;
}
.contentGrid{
	box-shadow: 0px 0px 10px black;
	margin-top: 100px; 
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 500px;
}
.contentItem{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#contentText{
	color: #FFFFFF;
	background-color: #005d0e;
	box-shadow: 0px 0px 5px 0px black;
	z-index: 1;
}
#contentText p{
	margin: 25px;
}
.contentImg{
	height: 110%;
	
}
.head{
	text-align: center;
}