
a {
	text-align: center;
	font-size: 15px;
}

th,td {
	padding: 20px;
	padding-top: 15%;
	text-align: center;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid grey;
}

table {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.floorplan {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 500px;
}

.block {
	display: block;
	font-size: 20px;
	padding-top:5px;
}

#contact_us{
	margin-left: auto;
	margin-right: auto;
	font-size: 60px;
	padding-top:5px;
	color: #303030;
	font-family: serif;
	padding-left: 100px;
}

.contact-body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: linear-gradient(rgba(22, 119, 22, 0.15),rgba(22, 119, 22, 0.15)),url(../images/thegrovebackground1.jpg);
	background-size: cover;
	background-position: top;
	font-family: sans-serif;
}

.contact-title{
	margin-top: 100px;
	color: white;
	text-transform: uppercase;
}

.contact-title h1{
	font-size: 32px;
	line-height: 15px;
}

.contact-title h2{
	font-size: 16px;
	line-height: 15px;
}

form{
	margin-top: 50px;
}

.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid white;
	color: white;
	font-size: 20px;
	margin-bottom: 16px;
}

input{
	height: 45px;
}

form .submit{
	background: #005d0e;
	border-color: transparent;
	color: white;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}

form .submit:hover{
	background-color: #012907;
	cursor: pointer;
}
