body, html{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	font-family: proxima-nova, sans-serif;
}
.banner a:visited, .banner a:link, .banner a:active{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 15px;
}
footer a:visited, footer a:link, footer a:active{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 15px;
}
.banner, #applyHere{
	z-index: 99999;
}
.banner{
	height: 70px;
	background-color: #303030;
	color: #ffffff;
	padding: 10px;
	font-size: 14pt;
	position: fixed;
	top: 0;
	width: 100vw;
}
.banner img{
	height: 50px;
	margin-top: 10px;
}
.banner ul{
	list-style: none;
	margin: 0;
	float: right;
	position: relative;
	right: 50px;
	vertical-align: middle;
	line-height: 70px;
}
.banner ul li{
	display: inline;
	padding-left: 20px;
}
.banner ul li a:hover{
	color: #009216;
}
#applyHere{
	padding: 10px;
	margin: 0;
	float: right;
	background-color: #005d0e;
	margin-right: 10px;
	border-radius: 0 0 5px 5px ;
	color: #ffffff;
	position: fixed;
	top: 90px;
	right: 50px;
}
#phoneNum{
	color: #009216;
}

#logo:hover{
	transform: scale(1.05);
}

#footerNav{
	list-style: none;
	padding: 30px;
	margin: 0px;
	float: left;
}
#footerNav li{
	display: inline;
	padding-left: 5px;
	padding-right: 1px;
	border-left: 1px solid #FFFFFF;
	text-align: center;
}
#altNav{
	list-style: none;
	padding: 30px;
	margin: 0px;
	float: right;
}
#altNav li{
	display: inline;
	padding-right: 5px;
	padding-left: 1px;
	border-right: 1px solid #FFFFFF;
	text-align: center;
}
footer{
	color: #FFFFFF;
	background-color: #012907;
	height: 150px;
}
